<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        {% block content %}
        <div id="content-container" class="container p-none">
          <div class="lgn-container col-lg-8">
            <form
              id="login-form"
              method="post"
              action="{% url 'account:login' %}"
            >
              {% csrf_token %}
              <table class="table">
                <tr>
                  <td><label for="id_username">Username</label></td>
                  <td>
                    <input
                      id="id_username"
                      name="username"
                      type="text"
                      class="form-control"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label for="id_password">Password</label></td>
                  <td>
                    <input
                      id="id_password"
                      name="password"
                      type="password"
                      class="form-control"
                    />
                  </td>
                </tr>
              </table>
              {% if form.errors %}
              <p class="label label-danger">
                Your username and password didn't match. Please try again.
              </p>
              {% endif %}

              <input
                type="submit"
                value="Login"
                class="btn btn-primary pull-right"
              />
              <input type="hidden" name="next" />
            </form>
          </div>
        </div>
        {% endblock content %}
      </div>
    </section>
  </body>
</html>
